body {
    background-color: rgb(90, 172, 223);
}

.Name {
    text-align: center;
    font-style: oblique;
}



nav ul li {
    display: inline-block;
    justify-content: space-between;
    font-style: oblique;

}

#aboutmeCont{
    display: flex;
}

#Me {
    width: 10%;
    border-radius: 30%;
    display: block;
    margin: auto;
    
}


#aboutmeText{
    width: 25%;
    display: flex;
    justify-content: center;
    border-right: 2px solid black;
}

#aboutmePar{
    width:75%;
    margin-left: 2%;
}

#portfolioCont{
    display: flex;
    margin-top: 1%
}
 #portfolioText{
    width: 24.5%;
    border-right: 2px solid black;
    display:flex;
    justify-content: center;
 }

 #portfolio{
    width:75%;
    margin-left: 1%;
 }

 #projOne{
    position: relative;
 }
 #projOneImg{
    width: 60%;
    height: 60%;
    position: relative;
    
    
 }



 #projRow{
    display:flex;
 }
 #projRow2{
    display:flex;
 }

 #projTwo{
    width: 40%;
    height: 60%;
    position: relative;
    
 }

 #projThree{
    width:40%;
    height:40%;
    position: relative;
 }


#projNew{
    width:60%;
    height:40%;
    position: relative;
 }


 .projImg{
    width: 75%;
    
    
 }

#githubPic {
    width:15%;
    height:15%;
    
   
}

#footer {
    display: flex;
    justify-content: center;
    
}

#footertxt {
   
    font-size: xx-large;
}

#link {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    font-size: larger;

   
   

    
    
}






@media screen and (max-width: 576px) {
    
  }  